.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chef-info {
    font-size: 1.3rem;
    width: 500px;
    text-align: center;
}

.chef-image {
    width: 700px;
}